{% extends 'layouts/base.html' %}

{% block content %}
  <div class="row">
    <div class="score col-lg-12 text-center mt-5">
        <h1>PLACAR</h1>
        <img class="team-flag" src="assets/imgs/atletico-pr.svg" alt="">
        <span class="font-150">2 <span class="font-50">x</span> 1</span>
        <img class="team-flag" src="assets/imgs/cruzeiro.svg" alt="">

    </div>
  </div>
  
  <div class="row">
    <div class="comments col-lg-12 mt-5">
      <div id="disqus_thread"></div>
    </div>
  
    </div>
  </div>
{% endblock %}
